html {
            margin: 0;
            height: 100%;
            width: 100%;
            display: table;
}

body {
    font-family: 'Rubik', arial;
    text-align: center;
    color: white;
    margin: 0;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    -webkit-animation: font-size 200ms ease-in-out;
    transition: font-size 200ms ease-in-out;
}

h1:hover {
    font-size: 48px;
}

h4 {
    font-size: 24px;
    -webkit-animation: font-size 200ms ease-in-out;
    transition: font-size 200ms ease-in-out;
}

h4:hover {
    font-size: 28px;
}

p {
    padding-left: 5%;
    padding-right: 5%;
}

.main-content {
    -webkit-animation: font-size 200ms ease-in-out;
    transition: font-size 200ms ease-in-out;
}

.main-content:hover {
    font-size: 18px;
}

.gradient {
    background: -moz-linear-gradient(226deg, rgba(247, 0, 0, 1) 0%, rgba(0, 24, 163, 1) 100%);
    background: -webkit-linear-gradient(226deg, rgba(247, 0, 0, 1) 0%, rgba(0, 24, 163, 1) 100%);
    background: -o-linear-gradient(226deg, rgba(247, 0, 0, 1) 0%, rgba(0, 24, 163, 1) 100%);
    background: -ms-linear-gradient(226deg, rgba(247, 0, 0, 1) 0%, rgba(0, 24, 163, 1) 100%);
    background: linear-gradient(224deg, rgba(247, 0, 0, 1) 0%, rgba(0, 24, 163, 1) 100%);
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    color: #ffffff;
}

a:hover {
    color: yellow;
}

i:hover {
    color: yellow;
    font-size: 50px;
}

i {
    font-size: 32px;
    -webkit-animation: color 200ms, font-size 200ms ease-in-out;
    transition: color 200ms, font-size 200ms ease-in-out;
}

.avatar {
    width: 50%;
    height: 50%;
    -webkit-animation: width 200ms, height 200ms ease-in-out;
    transition: width 200ms, height 200ms ease-in-out;
}

.avatar:hover {
    width: 60%;
    height: 60%;
}

.certificates {
    background: #673AB7;
    border-radius: 25px;
    -webkit-animation: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
}

.certificates:hover {
    box-shadow: 0px 2px 1px 1px #212121;
    text-decoration: none;
}